*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: #212e2a;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.round {
  border-radius: 6px;
}

.bgImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owerflow-scroll-y {
  overflow-y: scroll;
  text-overflow: ellipsis;
}

.owerflow-scroll-y::-webkit-scrollbar {
  width: 0;
}

:root {
  --swiper-theme-color: #1e1e1e93 !important;
}

.swiper-pagination-bullet {
  width: 17px !important;
  height: 17px !important;
}